/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.list-group-item{
  cursor: pointer;
}

.input-label{
  background: rgba(0,0,0,0);
  border:none;
  cursor: pointer;
}

.input-label-lg{
  background: transparent;
  border:none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}


.card-bg {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  background: orange;
}


